body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #141422, #1c1c2e);
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

select, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button {
  background: #4da6ff;
  color: white;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  backface-visibility: hidden;
}

.card-front {
  background: #3a3a5c;
}

.card-back {
  background: #4da6ff;
  transform: rotateY(180deg);
}

/* MODAL */
.ranking-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.ranking-content {
  background: #2b2b45;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
}

.ranking-content ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.ranking-content li {
  margin-bottom: 8px;
}





.start-button {
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 20px;
  background: #28c76f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.start-button:hover {
  transform: scale(1.05);
}
